@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply mx-20 lg:mx-auto lg:max-w-screen-lg
}

button {
  @apply bg-gray-300
}

button.primary {
  background-color: #a776f5;
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}